<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blade.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,210}</string>
                <key>spriteSourceSize</key>
                <string>{250,210}</string>
                <key>textureRect</key>
                <string>{{200,458},{250,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{652,278},{180,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>defence.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{296,176},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>healthBar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{526,160}</string>
                <key>spriteSourceSize</key>
                <string>{526,160}</string>
                <key>textureRect</key>
                <string>{{126,278},{526,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>healthBarRight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,14}</string>
                <key>spriteSourceSize</key>
                <string>{14,14}</string>
                <key>textureRect</key>
                <string>{{258,0},{14,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>healthBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,14}</string>
                <key>spriteSourceSize</key>
                <string>{244,14}</string>
                <key>textureRect</key>
                <string>{{0,0},{244,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heathBarLeft.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,14}</string>
                <key>spriteSourceSize</key>
                <string>{14,14}</string>
                <key>textureRect</key>
                <string>{{244,0},{14,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>invite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,88}</string>
                <key>spriteSourceSize</key>
                <string>{296,88}</string>
                <key>textureRect</key>
                <string>{{296,88},{296,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>overText.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{415,102}</string>
                <key>spriteSourceSize</key>
                <string>{415,102}</string>
                <key>textureRect</key>
                <string>{{396,176},{415,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pause.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,118}</string>
                <key>spriteSourceSize</key>
                <string>{126,118}</string>
                <key>textureRect</key>
                <string>{{0,278},{126,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pauseText.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,75}</string>
                <key>spriteSourceSize</key>
                <string>{252,75}</string>
                <key>textureRect</key>
                <string>{{272,0},{252,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,88}</string>
                <key>spriteSourceSize</key>
                <string>{296,88}</string>
                <key>textureRect</key>
                <string>{{524,0},{296,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>resume.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,88}</string>
                <key>spriteSourceSize</key>
                <string>{296,88}</string>
                <key>textureRect</key>
                <string>{{0,176},{296,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>retry.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,88}</string>
                <key>spriteSourceSize</key>
                <string>{296,88}</string>
                <key>textureRect</key>
                <string>{{0,88},{296,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>share.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,302}</string>
                <key>spriteSourceSize</key>
                <string>{302,302}</string>
                <key>textureRect</key>
                <string>{{450,458},{302,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shield.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{0,458},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>startBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,88}</string>
                <key>spriteSourceSize</key>
                <string>{296,88}</string>
                <key>textureRect</key>
                <string>{{592,88},{296,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui.png</string>
            <key>size</key>
            <string>{888,796}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:10958e8fabcee36ba6844b121ac43953:5bb6da5add25561dcc3f9587d452e108:e489eb72a1dac3e9a97caaf8aad1ac42$</string>
            <key>textureFileName</key>
            <string>ui.png</string>
        </dict>
    </dict>
</plist>
